<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <h1 class="display-6 ">Menux</h1>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= home_index_path %>">
                  <span class="sub-item">Dashboard</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Componentes</h4>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#base">
            <i class="fas fa-layer-group"></i>
            <p>Home</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="base">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= root_path %>">
                  <span class="sub-item">Home</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <% if current_user.funcao&.nome == "CEO" %>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#funcoes">
              <i class="fas fa-cogs"></i>
              <p>Funções</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="funcoes">
              <ul class="nav nav-collapse">
                <li>
                  <a href="<%= funcoes_path %>">
                    <span class="sub-item">Gerenciar Funções</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#estabelecimentos">
            <i class="fas fa-store"></i>
            <p>Estabelecimentos</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="estabelecimentos">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= estabelecimentos_path %>">
                  <span class="sub-item">Ver meus Estabelecimentos</span>
                </a>
              </li>
              <% if current_user.funcao&.nome == "CEO" %>
                <li>
                  <a href="<%= users_estabelecimentos_path %>">
                    <span class="sub-item">Gerenciar Estabelecimentos</span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
        <!-- Sidebar para Categorias -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#categorias">
            <i class="fas fa-tags"></i>
            <p>Categorias</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="categorias">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= categorias_path %>">
                  <span class="sub-item">Listar Categorias</span>
                </a>
              </li>
              <li>
                <a href="<%= new_categoria_path %>">
                  <span class="sub-item">Cadastrar Categoria</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Sidebar para Produtos -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#produtos">
            <i class="fas fa-box"></i>
            <p>Produtos</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="produtos">
            <ul class="nav nav-collapse">
              <li>
                <a href="<%= produtos_path %>">
                  <span class="sub-item">Listar Produtos</span>
                </a>
              </li>
              <li>
                <a href="<%= new_produto_path %>">
                  <span class="sub-item">Cadastrar Produto</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Exibindo o menu de Usuários apenas para o CEO -->
        <% if current_user.funcao&.nome == "CEO"%>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#usuarios">
              <i class="fas fa-users"></i>
              <p>Usuários</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="usuarios">
              <ul class="nav nav-collapse">
                <li>
                  <a href="<%= usuarios_path %>">
                    <span class="sub-item">Gerenciar Usuarios</span>
                  </a>
                </li>
                <li>
                  <a href="<%= new_user_registration_path %>">
                    <span class="sub-item">Cadastrar</span>
                  </a>
                </li>
                <li>
                  <a href="<%= edit_user_registration_path %>">
                    <span class="sub-item">Editar Perfil</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
