<!-- Cabeçalho do formulário -->
<div class="page-body page-header mb-4 shadow">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= link_to categorias_path, class: "btn btn-outline-secondary btn-sm me-3" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h1 class="h4 mb-0"> <%=t("common.back", default: "Cadastro") %></h1>
    </div>
  </div>
</div>
<%= simple_form_for(@categoria, html: { class: "container-fluid page-inner" }) do |f| %>
  <div class="card">
    <div class="card-body">
      <!-- Campos do formulário -->
      <div class="form-inputs">
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <!-- Exibe o campo de entrada ou associação (FK) de forma responsiva -->
            <%= f.input :nome, input_html: { class: "form-control", style: "width: 100%;", placeholder: "Nome", title: "Informe nome" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <!-- Exibe o campo de entrada ou associação (FK) de forma responsiva -->
            <%= f.input :descricao, input_html: { class: "form-control", style: "width: 100%;", placeholder: "Descricao", title: "Informe descricao" } %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <!-- Exibe o campo de entrada ou associação (FK) de forma responsiva -->
            <%= f.label :estabelecimento_id, "Estabelecimento" %>
            <%= f.collection_select :estabelecimento_id, Estabelecimento.all, :id, :nome, { prompt: "Selecione o estabelecimento" }, { class: "form-select", style: "max-width: 100%;" } %>          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="card-footer justify-content-between">
    <!-- Botões do formulário -->
    <%= f.submit t(".save", default: "Salvar"), class: "btn btn-incluir" %>
    <%= link_to t("common.back", default: "Voltar"), categorias_path, class: "btn btn-secondary" %>
  </div>
</div>
<% end %>
