<div id="<%= dom_id estabelecimento %>">
  <p>
    <strong>Nome:</strong>
    <%= estabelecimento.nome %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= estabelecimento.cnpj %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= estabelecimento.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= estabelecimento.telefone %>
  </p>

</div>
