<div class="index-body page-header-light shadow">
  <div class="header-container ">
    <%= link_to root_path, class: "btn btn-outline-secondary btn-sm me-3" do %>
      <i class="fa fa-arrow-left"></i>
      <% end %>
      <h1 class="h4 mb-0"><%= t("common.estabelecimentos", default: "Estabelecimentos") %></h1>
    </div>
    <%= link_to new_estabelecimento_path, class: "btn btn-incluir d-flex align-items-center" do %>
    <i class="fa fa-plus me-2"></i> <%= t("common.new_estabelecimento", default: "Incluir") %>
    <% end %>
  </div>
  <div class="container-fluid ">
    <div class="col-md-12">
      <div class="card shadow">
        <!-- Card Header com o Formulário de Pesquisa -->
        <div class="card-header search-card-header">
          <%= search_form_for @q, html: { class: "d-flex align-items-center gap-3 flex-nowrap w-100" , autocomplete: "off"} do |f| %>
            <%= f.search_field :nome_cont, class: "form-control search-field", placeholder: "Pesquisar" %>
            <%= button_tag type: 'submit', class: 'btn btn-info' do %>
              🔍  <!-- Ícone de lupa com Unicode -->
              <% end %>
              <% end %>
            </div>
            <div class="card-body shadow">
              <!-- Tabela de Estabelecimentos -->
              <div class="table-responsive">
                <table id="estabelecimentosTable" class="table text-center table-striped table-hover display" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="text-center"><%= t("common.actions", default: "Ações") %></th>
                      
                        <th><%= t("activerecord.attributes.estabelecimento.nome", default: "Nome") %></th>
                      
                        <th><%= t("activerecord.attributes.estabelecimento.cnpj", default: "Cnpj") %></th>
                      
                        <th><%= t("activerecord.attributes.estabelecimento.endereco", default: "Endereco") %></th>
                      
                        <th><%= t("activerecord.attributes.estabelecimento.telefone", default: "Telefone") %></th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <% @estabelecimentos.each do |estabelecimento| %>
                    <tr>
                      <td data-label="<%= t('common.actions', default: 'Ações') %>">
                        <div class="dropdown">
                          <button class="btn btn-sm dropdown-toggle" type="button" id="acoesDropdown<%= estabelecimento.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="acoesDropdown<%= estabelecimento.id %>">
                            <li><%= link_to t("common.show", default: "Ver"), estabelecimento, class: "dropdown-item" %></li>
                            <li><%= link_to t("common.edit", default: "Editar"), edit_estabelecimento_path(estabelecimento), class: "dropdown-item" %></li>
                            <li><%= button_to t("common.delete", default: "Excluir"), estabelecimento, method: :delete, data: { confirm: t("common.are_you_sure", default: "Tem certeza?") }, class: "dropdown-item text-danger" %></li>
                          </ul>
                        </div>
                      </td>
                      
                        
                          <!-- Atributo comum -->
                          <td><%= estabelecimento.nome %></td>
                        
                      
                        
                          <!-- Atributo comum -->
                          <td><%= estabelecimento.cnpj %></td>
                        
                      
                        
                          <!-- Atributo comum -->
                          <td><%= estabelecimento.endereco %></td>
                        
                      
                        
                          <!-- Atributo comum -->
                          <td><%= estabelecimento.telefone %></td>
                        
                      
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <div id="pagyNav" class="pag-bar">
                  <%= pagy_bootstrap_nav(@pagy, link_extra: 'class="btn btn-outline-secondary btn-sm mx-1"').html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
